html {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    
}
h1 {
    color: #151B54; 
    background-color: #FBE7A1;
    text-align: center;
}
h2 {
    color: #151B54;
}

li, a {
    color: #fff;
    background: #151B54;
    border-radius: 30px;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    margin: 1px 0;
    display: inline-block;
}
ul , a:hover{
    color: #FBE7A1;
}
