nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    
    

}
nav {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}
nav a{
    text-decoration: none;
    color: #151B54;
    font-weight: bold;
}
nav a:hover{
    color: #FBE7A1;
}
article {
    background-color: #FBE7A1;
}
h1 {
    color: #151B54;
}
article p {
    color: black;

}