body {
    width: 1200px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
article {
    background-color: rgb(208, 205, 205);
}
nav {
    background-color: rgb(86, 85, 85);
}
nav > a {
    color: #00FF7F;
    text-decoration: none;
}
h1 {
    text-decoration: underline;
}
.header {
    background-image: url(header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;

}
.white {
    color: white;
    text-decoration: none;
    
}
article {
    padding-top: 20px;
    margin-top: 5px;
}

